@import url(inter/inter.css);
@import url(roboto/roboto.css);


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  position: relative; }

html {
  font-size: 62.5%; }
  @media (max-width: 1800px) {
    html {
      font-size: 75%; } }
  @media (max-width: 1200px) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 900px) {
    html {
      font-size: 50%; } }
  @media (max-width: 600px) {
    html {
      font-size: 45%; } }

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  --bs-gutter-x: 5rem; }

.navbar-nav {
  --bs-nav-link-color: #fff;
  --bs-nav-link-hover-color: #ccc;
  --bs-navbar-nav-link-padding-x: 5rem;
  --bs-navbar-toggler-border-color: #fff;
  --bs-navbar-toggler-border-color: #fff; }

.navbar {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  padding-top: 3rem; }

.navbar-nav {
  margin-left: auto;
  margin-right: 7rem; }
  @media (max-width: 768px) {
    .navbar-nav {
      margin-top: 2rem; } }

.nav-button {
  background: #00DAEA;
  border-radius: 20px;
  padding: 1.5rem 4.5rem;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
  transition: .2s; }
  .nav-button:hover {
    text-decoration: none;
    color: #00DAEA;
    background: #fff; }
  @media (max-width: 768px) {
    .nav-button:not(.header-button) {
      display: none; } }

.nav-button.mobile {
  display: none;
  margin-right: 4rem; }
  @media (max-width: 768px) {
    .nav-button.mobile {
      display: block;
      margin-left: auto; } }

.navbar-toggler {
  border: var(--bs-border-width) solid #fff; }

.navbar-toggler:focus {
  box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width) #fff; }

.navbar-toggler-icon {
  background-image: url("../img/hamburger.svg"); }

.header {
  margin-bottom: 14rem;
  background: url("../img/main.webp") center/cover no-repeat, linear-gradient(to bottom right, #03004C, #34036C);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 10% 80%, 0 60%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 10% 80%, 0 60%);
  height: 100vh; }
  .header-text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 3rem;
    color: #FFFFFF; }
  .header-block {
    margin-top: 35vh; }
  @media (max-width: 768px) {
    .header {
      clip-path: none; }
      .header-block {
        position: absolute;
        top: 50vh;
        left: 4rem;
        transform: translateY(-50%);
        margin-top: 0; } }
  .header-background {
    height: 170vh;
    width: 100%;
    background: #F8F8F8;
    position: absolute;
    top: 0;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 100% 67%, 80% 91%, 31% 100%, 21% 86%, 0 60%); }

.benefits {
  margin-bottom: 25rem; }
  .benefits-card {
    background: #FFFFFF;
    box-shadow: 0 1.4rem 6.4rem rgba(229, 229, 229, 0.5);
    border-radius: 20px;
    padding: 2rem 3rem;
    height: 100%;
    margin-bottom: 3rem; }
    @media (max-width: 768px) {
      .benefits-card {
        height: auto; } }
    .benefits-card--icon {
      height: 4.6rem; }
    .benefits-card--heading {
      margin-top: 3rem;
      margin-bottom: 2rem;
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 2rem;
      line-height: 2.4rem;
      color: #000000; }
    .benefits-card--text {
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: #191919; }

.prices {
  margin-bottom: 18rem; }
  .prices__heading {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 3.5rem;
    font-size: 5rem;
    line-height: 130.4%;
    /* or 65px */
    color: #09014C; }
  .prices__list {
    list-style: none; }
    .prices__list-item {
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 150%;
      padding-left: 4.5rem;
      /* or 27px */
      position: relative;
      color: #191919; }
      .prices__list-item:not(:last-child) {
        margin-bottom: 1.5rem; }
      .prices__list-item::before {
        content: "";
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        background: url("../img/checkmark.svg") center/1rem 1.236rem no-repeat #fff;
        box-shadow: 0px 5px 15px rgba(229, 229, 229, 0.5);
        position: absolute;
        top: .5rem;
        left: 0; }
  .prices__img {
    width: 100%; }

.possibilities {
  margin-bottom: 7rem; }
  .possibilities__heading {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 5rem;
    line-height: 130.4%;
    /* or 65px */
    margin-bottom: 3.5rem;
    color: #09014C; }
  .possibilities__text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 150%;
    /* or 27px */
    margin-bottom: 6rem;
    color: #191919; }
  .possibilities__card-num {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 7rem;
    line-height: 8.5rem;
    /* identical to box height */
    color: #09014C; }
  .possibilities__card .line {
    height: 1px;
    background-color: #000000; }
    @media (max-width: 576px) {
      .possibilities__card .line {
        width: 50%;
        margin-left: auto;
        margin-right: auto; } }
  .possibilities__card-text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.2rem;
    /* identical to box height */
    color: #191919; }
  @media (max-width: 576px) {
    .possibilities__card {
      text-align: center; } }
  .possibilities__img {
    width: 100%; }

.potential {
  position: relative;
  padding-top: 24.5rem;
  padding-bottom: 24.5rem;
  background: linear-gradient(to bottom, #fff 50%, #F8F8F8 50%);
  z-index: 2; }
  .potential::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url("../img/img33.webp") center/cover no-repeat, linear-gradient(116.67deg, #03004C 3.5%, #1E0053 63.1%, #270056 97.87%);
    clip-path: polygon(0 0, 100% 12%, 100% 77%, 80% 93%, 0 100%); }
  .potential__heading {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 5rem;
    line-height: 130.4%;
    color: #FFFFFF;
    margin-bottom: 8rem; }
  .potential__card-heading {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 130%;
    /* or 26px */
    margin-bottom: 2.5rem;
    color: #00DAEA; }
  .potential__card-text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
    /* or 24px */
    color: #FFFFFF; }
  .potential .row-second {
    margin-top: 7rem; }
    @media (max-width: 576px) {
      .potential .row-second {
        margin-top: 0; } }
  .potential-background {
    height: 40vh;
    z-index: -1;
    bottom: -40vh;
    width: 100%;
    background: #F8F8F8;
    clip-path: polygon(0 0, 100% 0, 100% 30%, 59% 100%, 0 43%);
    position: absolute;
    z-index: -1; }

.innovations {
  margin-top: 23.5rem;
  position: relative;
  z-index: 20; }
  .innovations__heading {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 5rem;
    line-height: 130.4%;
    /* or 65px */
    margin-bottom: 8rem;
    color: #09014C; }
  .innovations__card {
    padding: 5rem 3rem;
    background: #FFFFFF;
    box-shadow: 0px 14px 64px rgba(229, 229, 229, 0.5);
    border-radius: 20px; }
    .innovations__card-heading {
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 1.8rem;
      margin-bottom: 2rem;
      line-height: 130%;
      /* or 23px */
      color: #000000; }
    .innovations__card-text {
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 140%;
      /* or 20px */
      margin-bottom: 3.6rem;
      color: #191919; }
    .innovations__card-link {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 130%;
      /* or 18px */
      text-decoration: none;
      color: #00DAEA; }
      .innovations__card-link:hover {
        color: #00DAEA; }
